@import "tailwindcss";

/* your background */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: radial-gradient(
      900px 500px at 20% 20%,
      rgba(59, 130, 246, 0.22),
      transparent 60%
    ),
    radial-gradient(
      900px 500px at 80% 30%,
      rgba(16, 185, 129, 0.16),
      transparent 60%
    ),
    radial-gradient(
      900px 500px at 40% 80%,
      rgba(168, 85, 247, 0.14),
      transparent 60%
    ),
    linear-gradient(180deg, #05070d 0%, #070a12 60%, #05070d 100%);
  color: white;
}
